@import '../../styles/base';

button.a-button {
    border-radius: 0.25rem;
    padding: 0;
    cursor: pointer;

    // Needed to work same in content-box containers
    box-sizing: border-box !important;

    &:disabled {
        background-color: $disabled;
        cursor: no-drop;

        &.secondary-btn {
            border: 0.111rem solid $disabled;
            color: $disabled;
            svg path {
                fill: $disabled;
            }

            &:hover {
                color: $disabled;
    
                svg path {
                    fill: $disabled;
                }
            }
        }
    }

    svg {
        padding-right: 0.5rem;
    }

    &.large {
        width: 14rem;
        height: 3.75rem;
        font-size: 1.111rem;
    }

    &.medium {
        width: 13.13rem;
        height: 3.13rem;
        font-size: 1rem;
    }

    &.small {
        width: 12.31rem;
        height: 2.5rem;
        font-size: 0.889rem;
    }

    &.square-md {
        width: 2.81rem;
        height: 2.81rem;

        svg {
            padding: 0.5rem 0 0 0.5rem;
        }
    }

    &.square-sm {
        width: 1.88rem;
        height: 1.88rem;

        svg {
            padding: 0.25rem 0 0 0.38rem;
        }
    }

    &.circle-lg,
    &.circle-md,
    &.circle-sm {
        border-radius: 100% 100%;
    }

    &.circle-lg {
        width: 4.69rem;
        height: 4.69rem;

        svg {
            padding: 0.7rem 0 0 0.2rem;
            &.large{
                width: 2.222rem;
                height: 2.222rem;
            }
        }
    }

    &.circle-md {
        width: 3.44rem;
        height: 3.44rem;

        svg {
            padding: 0.5rem 0 0 0.69rem;
        }
    }
    
    &.circle-sm {
        width: 2.5rem;
        height: 2.5rem;

        svg {
            padding: 0.5rem 0 0 0.5rem;
        }
    }

    &.secondary-btn {
        color: $primary-blue;
        background-color: $transparent;
        border: 2px solid;
        font-weight: 450;
        &:hover {
            color: $primary-blue-hover;

            svg path {
                fill: $primary-blue-hover;
            }
        }

        &.square-md, &.square-sm {
            border: $none;

            &:disabled {
                border: $none;
            }
        }

        &.square-sm {
            background-color: $alt-bg;

            &:disabled {
                background-color: $disabled;
                svg path {
                    fill: $white;
                }
            }
        }
    }
}